<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        <div style='{border-style: solid;}'>
	        <form>
            <fieldset>
              <legend>TYPE YOUR PRIMARY EMAIL HERE</legend>
              <input placeholder="Enter Primary Email" type=text>
              <button>Submit</button> <br>
              <input type=checkbox> 
              <small>I agree that when I sign up above, I will be added to a marketing mailing list where I will receive DAILY tips and promotional offers from Asim Jalis. Your information is 100% safe.</small> <br>
            </fieldset>
	        </form>
        </div>
	      <br>
	      <br>
        {{ content }}
      </div>
    </div>

    {% include footer.html %}

  </body>

</html>
